* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url("../img/pro.jpg");
    background-size: cover;
    justify-content: center;
    padding-top: 100px;
}

section .cont-botones {
    width: 40%;
    height: 500px;
    padding: 40px;
    border: 2px solid #fff;
    text-align: center;
    backdrop-filter: blur(2px);
}

section .cont-botones h2 {
    color: black;
    font-size: 50px;
    margin-bottom: 40px;
}

section .cont-botones button {
    padding: 10px 40px;
    border-radius: 4px;
    color: rgb(46, 12, 83);
    background: rgb(213, 189, 237);
    margin: 12px;
    border: 2px solid #821e82;
}

section .cont-figura {
    width: 40%;
    height: 500px;
    padding: 40px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
}

section .cont-figura h2 {
    color: #000000;
    font-size: 50px;
}

#figura {
    width: 200px;
    height: 200px;
    background-color: #9965a9;
    margin: 20px auto;
}

#figura.circulo {
    border-radius: 50%;
    transition: .5s;
    transform: rotate(-360deg);
}

#figura.rectangulo {
    width: 300px;
    transition: .4s;
}

#figura.top {
    transform: translateY(-100px);
    transition: .5s;
}

/* primero le hacemos function en main.js, despues en styles, y depsues el onclick en index */
#figura.left {
    transform: translateX(-100px);
    transition: .5s;
}

#figura.right {
    transform: translateX(100px);
    transition: .5s;
}

#figura.bottom {
    transform: rotate(180deg);
    transition: .9s;
    border-radius: 5px
}

#figura.diagonal {
    width: 200px;
    height: 100px;
    transform: rotate(-45deg);
    transition: .6s;
}

#figura.rombo {
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    transition: .6s;
}

#figura.imagen {
    background-image: url('../img/t-r-photography-TzjMd7i5WQI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 450px;
}